* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f5f7fa;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  font-family: 'Montserrat', sans-serif;
  color: #263547;
}
a {
  color: inherit;
}

.main-container {
  background: #ffffff;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #cbb097;
  width: 65%;
  padding: 40px 20px;
}

.my-photo {
  width: 70%;
  border-radius: 50%;
  margin-bottom: 50px;
}

.contacts-container,
.tech-skills-container,
.soft-skills-container,
.lanuages-container {
  width: 100%;
  margin-bottom: 50px;
}

.contacts-title,
.tech-skills-title,
.soft-skills-title,
.lanuages-title {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}
.contacts-list {
  list-style: none;
}

.contacts-list-item:not(:last-child) {
  margin-bottom: 10px;
}
.contacts-list .contacts-link-phone,
.contacts-link-email,
.contacts-link-skype,
.contacts-link-linkedin,
.contacts-link-github,
.contacts-link-loation {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-decoration: none;
}
.contacts-link-title {
  font-size: 16px;
  font-weight: 900;
}
/* .contacts-link-phone::before {
  content: '';
  position: absolute;
  width: 32px;
  height: 32px;
  left: -15px;
  top: -5px;
  background-image: url('../img/mobile.svg');
} */

/* .contacts-link-email::before {
  content: '';
  position: absolute;
  width: 32px;
  height: 32px;
  left: -15px;
  top: -5px;
  background-image: url('../img/mail4.svg');
} */
/* .contacts-link-skype::before {
  content: '';
  position: absolute;
  width: 32px;
  height: 32px;
  left: -15px;
  top: -5px;
  background-image: url('../img/013-skype.svg');
} */
/* .contacts-link-linkedin::before {
  content: '';
  position: absolute;
  width: 32px;
  height: 32px;
  left: -15px;
  top: 5px;
  background-image: url('../img/045-linkedin.svg');
} */
/* .contacts-link-github::before {
  content: '';
  position: absolute;
  width: 32px;
  height: 32px;
  left: -15px;
  top: 5px;
  background-image: url('../img/038-github.svg');
} */
/* .contacts-link-loation::before {
  content: '';
  position: absolute;
  width: 32px;
  height: 32px;
  left: -15px;
  top: -5px;
  background-image: url('../img/location2.svg');
} */

.tech-skills-item,
.soft-skill-item,
.lanuages-item {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-left: 15px;
}

/* .tech-skills-text,
.soft-skills-text,
.lanuages-text {
  color: #263547;
} */

.about-me-container {
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 110px;
  padding-bottom: 110px;
}
.about-me-main-info {
  margin-bottom: 30px;
}
.my-profession {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  color: #d0826f;
  margin-bottom: 23px;
}
.my-name {
  font-size: 45px;
  font-weight: 700;
  line-height: 1.2;
  color: #d0826f;
  margin-bottom: 20px;
}
.main-info {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.projects-container,
.education-container,
.work-experience-container {
  margin-bottom: 55px;
}
.projects-title,
.education-title,
.work-experience-title {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  color: #d0826f;
}

.projects-list {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 12px;
  margin-bottom: 40px;
}
.project-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}
.project-link {
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}
.education:not(:last-child),
.company:not(:last-child) {
  margin-bottom: 20px;
}
.education-univer,
.company-name {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.professions,
.role {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.Work-Experience-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}

.time-work {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #a8a8a8;
}
.cherta {
  color: #263547;
}
