* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background: #f5f7fa;
  background-image: url('../img/kompyuternii-fon.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  transform: scale(0);
}

.active {
  transform: scale(1);
  transition: transform 500ms ease-in;
}

.nav-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 80px;
  display: flex;
  align-items: center;
  background-color: #ffa500;
  outline: 2px solid #ffffff;
  z-index: 10;
}
.nav-list {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
}
.nav-item {
  margin-right: 5px;
  cursor: pointer;
}

.download {
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 2px;
}
.download-link {
  position: relative;
  padding-left: 20px;
  display: inline-block;
}
.download-link::before {
  content: '';
  position: absolute;
  background-image: url('../img/download-2-16.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  top: 2px;
  left: -3px;
}

.main-container {
  background: rgba(140, 138, 138, 0.693);
  max-width: 900px;
  min-height: calc(100vh - 80px);
  margin: 0 auto;
  /* box-shadow: 5px 9px 20px rgb(233, 223, 223); */
}

.section {
  padding: 20px;
  margin-top: 80px;
  display: flex;
}
.main-info {
  width: 100%;
  flex-direction: column;
}
.about-me {
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  margin-bottom: 20px;
}
.my-photo {
  display: block;
  max-width: 200px;
  border-radius: 40%;
  padding: 10px;
}
.about-me-inner {
  max-width: 650px;
}
.my-profession {
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: 0.15em;
  color: #ffa500;
}
.my-name {
  margin-bottom: 20px;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  color: #ffa500;
}
.main-info-text {
  max-width: 500px;
}

.contacts-container,
.tech-skills-container,
.lanuages-container,
.soft-skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts-title,
.tech-skills-title,
.soft-skills-title,
.lanuages-title,
.projects-title,
.education-title,
.work-experience-title {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffa500;
}

.contacts-title {
  text-align: center;
}
.contacts-list__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.contacts-list-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
}
.contacts-list-item {
  margin-bottom: 10px;
}

.contacts-link-title {
  font-size: 16px;
  font-weight: 700;

  margin-right: 15px;
}

.skills,
.projects,
.works-education {
  justify-content: space-around;
  /* flex-wrap: wrap; */
}

.tech-skills-container,
.soft-skills-container,
.lanuages-container {
  margin-bottom: 30px;
}
.tech-skills-item,
.soft-skill-item,
.lanuages-item {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.projects-container,
.education-container,
.work-experience-container {
  max-width: 50%;
  margin-bottom: 30px;
}

.projects-list {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 12px;
}
.projects-item {
  list-style: disc;
  margin-bottom: 10px;
}
.project-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}
.project-link {
  font-weight: 600;
  cursor: pointer;
}

.education:not(:last-child),
.company:not(:last-child) {
  margin-bottom: 20px;
}
.education-univer,
.company-name {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.professions,
.role {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.Work-Experience-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}

.time-work {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

@media screen and (max-width: 768px) {
  .about-me {
    margin-bottom: 10px;
  }
  .projects,
  .works-education {
    flex-wrap: wrap;
    justify-content: start;
  }

  .projects-container,
  .education-container,
  .work-experience-container {
    max-width: 100%;
  }

  .tech-skills-container,
  .lanuages-container,
  .soft-skills-container {
    margin-right: 10px;
    align-items: start;
  }
}

@media screen and (max-width: 700px) {
  .section {
    padding: 10px;
  }
  .about-me {
    flex-direction: column;
    align-items: center;
  }
  .about-me-inner {
    margin: 0 auto;
  }
  .my-photo {
    max-width: 150px;
    padding: 5px;
  }

  .my-profession {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
  }
  .my-name {
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 700;
  }
  .main-info-text {
    font-size: 18px;
    font-weight: 400;
  }
  .contacts-list:not(:last-child) {
    margin-right: 10px;
  }
  .contacts-container {
    width: 100%;
    align-items: center;
  }

  .contacts-list__wrapper {
    width: auto;
    flex-direction: column;
  }
  .skills {
    width: 100%;
    flex-wrap: wrap;
    justify-content: start;
  }
  .contacts-link-title {
    margin-right: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .works-education {
    padding-top: 65px;
  }
}
